body 
{
  margin:0;
  padding: 0 ;
  font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana; 

}
.hero
{
    height: 100vh;
    background-image:  url("img/signup.jpg"),linear-gradient(rgba(201, 243, 245, 0.8),rgba(201, 243, 245, 0.8));
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;

}
.box
{
  width:300px;
  padding:40px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background: #662911;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"], .box input[type="password"]
{
  border: 0;
  background:none;
  display:block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #ffffff;
  padding:14px 10px;
  width:200px;
  outline:none;
  color:white;
  border-radius: 24px;
  transition:0.25s;
}
.box input[type="text"]:focus, .box input[type="password"]:focus
{
  width:280px;
  border-color: #000000;

}
.box input[type="submit"]
{
  border: 0;
  background:none;
  display:block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #000000;
  padding:14px 40px;
  outline:none;
  color:white;
  border-radius: 24px;
  transition:0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover{
  background: #000000;
}
  
